@tailwind base;
@tailwind components;
@tailwind utilities;


.custom-scroll-bar {
  overflow-y: auto;
  white-space: nowrap;
}

.custom-scroll-bar::-webkit-scrollbar {
   width: 10px;
}

.custom-scroll-bar::-webkit-scrollbar-track {
  background: rgba(213, 209, 218, 0.987);
  border-radius: 8px;
}
.custom-scroll-bar::-webkit-scrollbar-thumb {
  background-color: #6176c3;
  border-radius: 8px;
}

@layer components {
  .Votacion-Activa {
    @apply text-[#5F81FF] lg:border-[#6996FF];
  }
  .Reparacion {
    @apply text-[#527661] lg:border-[#555555];
  }
  .Comunicacion {
    @apply text-[#E1AF3F] lg:border-[#E1AF3F];
  }
}
